.ab-footer{
    background-color: #EBEBEB;
    min-height: 352px;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.ab-footer-container{
    display: flex;
    margin-bottom: 60px;
    position: relative;
}

.ab-footer-col h3{
    font-weight: 600;
    font-size: 25px;
    color: rgba(0, 0,0 , .4);
    margin: 0;
}
.ab-footer-col h3{
    margin-top: 40px;
}

.ab-footer-link{
    color: #000;
    text-decoration: none;
}

.ab-footer-socials{
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 1024px){
    .ab-footer-col{
        width: 50%;
    }
}

@media (max-width: 1024px){
    .ab-footer{
        min-height: 352px;;
    }
    .ab-footer-container{
        flex-direction: column;
    }
}