/* Popup style */
.ab-form-section {
  position: fixed;
  background: #00000050;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
}

.ab-form-container {
  position: relative;
  width: 550px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  padding: 30px;
  border-left: 1px solid #CECECE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .ab-form-container::-webkit-scrollbar {
  display: none;
} */

.ab-form-header{
  width: 100%;
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
}

.close-icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 20px;
}

.close-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ab-form{
  max-width: 340px;
}

.ab-form-titles{
  margin-bottom: 40px;
}

.ab-form-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.ab-form-subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.ab-input-group{
  width: 100%;
  max-height: 70px;
  margin-bottom: 20px;
}

.ab-otro-input-group{
  height: 0;
  display: none;
  transition: 5s;
  margin-bottom: 0;
}

.ab-form-input{
  border: none;
  border-bottom: 1px solid #777;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #000;
  width: 100%;
  height: 40px;
  opacity: .6;
  transition: .3s;
}

.ab-form-input:focus-visible{
  border: none;
  border-bottom: 1px solid #111;
  outline: none;
  color: #000;
  opacity: 1;
}

.ab-form-input:not(:placeholder-shown) {
  border: none;
  border-bottom: 1px solid #111;
  outline: none;
  color: #000;
  opacity: 1;
}
.ab-input-group .ab-confirm-icon{
  display: none;
  margin-right: 0;
  margin-left: auto;
  position: relative;
  bottom: 25px;
}
.ab-input-group .ab-confirm-icon path{
  fill: #287c44;
}

.btn-invalid-input{
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #111;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d82c24;
  outline: none;
  transition: .3s;
  /* background-image: url('../assets/icons/Red Icon.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 95% 15px; */
}

.btn-invalid-input:not(:focus):valid,
.btn-invalid-input:focus:valid,
.ab-form-input:not(:focus):valid,
.ab-form-input:focus:valid{
  border-bottom: 1px solid #287c44;
  outline: none;
  background-image: url('../assets/icons/svgs/Outline.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 95% 15px;
  transition: .3s;
}

#confirm-email-input.invalid-validation{
  transition: .3s;
  border-bottom: 1px solid #d82c24;
  outline: none;
}

#confirm-email-input .valid-validation{
  border-bottom: 1px solid #287c44;
  outline: none;
  background-image: url('../assets/icons/svgs/Outline.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 95% 15px;
}

.btn-invalid-input:not(:focus):valid + .ab-confirm-icon,
.btn-invalid-input:focus:valid + .ab-confirm-icon,
.ab-form-input:not(:focus):valid + .ab-confirm-icon,
.ab-form-input:focus:valid + .ab-confirm-icon{
  display: block;
}

#seclastname-input:placeholder-shown{
  border: none;
  border-bottom: 1px solid #777;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #000;
  width: 100%;
  height: 40px;
  opacity: .6;
  transition: .3s;
  background-image: none;
}

#seclastname-input:placeholder-shown + .ab-confirm-icon{
  display: none;
}

.ab-form-input:not(:focus):valid{
  opacity: 1;
}

.ab-form-label{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #777777;
}

.ab-error-message{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #d82c24;
}

.confirmEmail-error{
  text-align: left;
  display: none;
}

.email-error{
  text-align: left;
  display: none;
}

#email-input:not(:placeholder-shown):not(:focus):not(:valid) + .email-error{
  display: block;
}

#email-input:not(:placeholder-shown):not(:focus):not(:valid){
  border-bottom: 1px solid #d82c24;
}

#email-input:valid + span + .ab-confirm-icon{
  display: block;
}

.submit-error{
  text-align: left;
  visibility: hidden;
  padding-left: 7px;
}

.ab-form-label img{
  width: 12px;
  height: auto;
  margin-right: 2px;
}

.ab-btn-group{
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  background: #EBEBEB;
  border: 1px solid #CECECE;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
  text-align: left;
  transition: .3s;
  margin-bottom: 8px;
  /* background-image: url('../assets/icons/Icon.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 95% 10px; */
}

.ab-checkbox-input{
  position: absolute;
  z-index: -1;
  border: none;
  background-color: transparent;
}

.btn-checked{
  margin-bottom: 8px;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  transition: .3s ease;
  background: #5637FB;
  color: #fff;
  border: 1px solid #5637FB;
  background-image: url('../assets/icons/svgs/Outline.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 10px;
}

.btn-checked:hover{
  background: #2904f0;
  border: 1px solid #2904f0;
  background-image: url('../assets/icons/svgs/Outline.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 10px;
  cursor: pointer;
}

#ab-form-btn-otro{
  margin-bottom: 30px;
}

.ab-form-submitBtn{
  width: 100%;
  padding: 16px 24px;
  height: 60px;
  background: #5637FB;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #5637FB;
  transition: .3s;
  color: #fff;
}

.ab-form-submitBtn:hover{
  background: #2904f0;
  color: #fff;
  border: 1px solid #2904f0;
  cursor: pointer;
}

@media (min-width: 1024px){
  .ab-btn-group:hover{
    background: #5637FB;
    color: #fff;
    border: 1px solid #5637FB;
    cursor: pointer;
  }
}
@media (max-width: 768px){
  .ab-form-section .ab-form-submitBtn{
    margin-bottom: 50px;
  }
}