.ab-header{
    position: fixed;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
    border-bottom: 1px solid #CECECE;
    z-index: 1;
}

.ab-header::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #CECECE;
}

.ab-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.ab-header-logo {
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
    width: 300px;
    height: 84px;
    max-width: 300px;
}

.ab-sidemenu-button{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    padding: 28px 13px;
    background-color: transparent;
    color: inherit;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    z-index: 915;
    margin-left: 15px;
    opacity: 1;
}

.ab-header-logo .logo-abunda{
    object-fit: contain;
    object-position: left;
}

.ab-sidemenu-button:hover{
    cursor: pointer;
}

.ab-sidemenu-button .ab-sidemenu-button-icon{
    width: 40%;
    height: auto;
    padding: 5px;
}

.hamburger__bars {
    position: relative;
    display: block;
    width: 26px;
    height: 2px;
    background-color: currentColor;
    -webkit-transition: 0.2s -webkit-transform ease;
    transition: 0.2s transform ease;
}

.hamburger__bars:after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(7px);
    transition: 0.2s transform ease;
}

.hamburger__bars:before {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-7px);
    transition: 0.2s transform ease;
}

.ab-sidemenu-button:hover .hamburger__bars:after{
    transform: translateY(5px);
}

.ab-sidemenu-button:hover .hamburger__bars:before{
    transform: translateY(-5px);
}

.ab-btn-container{
    display: flex;
}
