.ab-title-group .pretitle{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.ab-title-group .title{
    font-size: 32px;
    font-weight: 600;
    color: #5637FB;
    margin: 0;
}
.ab-title-group .subtitle{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.ab-titles-container{
    height: 54px;
    overflow: hidden;
    position: relative;
    margin: 5px 0;
}

.titles{
    animation: slider 6s infinite;
}


@keyframes slider {
    0%, 100%{
        transform: translate(0, 0);
    }
    33.33%{
        transform: translate(0, calc(54 * -1px));
    }
    66.66%{
        transform: translate(0, calc(54 * -2px));
    }
    99.99%{
        transform: translate(0, calc(54 * -3px + 2px));
    }
}

@media (max-width: 409px){
    .ab-titles-container{
        height: 36px;
    }
    .titles .title{
        font-size: 24px;
    }
    .ab-title-group .pretitle{
        font-size: 18px;
    }
    @keyframes slider {
        0%, 100%{
            transform: translate(0, 0);
        }
        33.33%{
            transform: translate(0, calc(40 * -1px));
        }
        66.66%{
            transform: translate(0, calc(40 * -2px));
        }
        99.99%{
            transform: translate(0, calc(40 * -3px + 1px));
        }
    }    
}
@media (max-width: 318px){
    .ab-titles-container{
        height: 36px;
    }
    .titles .title{
        font-size: 24px;
    }
    .ab-title-group .pretitle{
        font-size: 18px;
    }
    @keyframes slider {
        0%, 100%{
            transform: translate(0, 0);
        }
        25%{
            transform: translate(0, calc(40 * -1px));
        }
        50%{
            transform: translate(0, calc(40 * -2px));
        }
        75%{
            transform: translate(0, calc(40 * -3px));
        }
        99.99%{
            transform: translate(0, calc(40 * -4px + 1px));
        }
    }    
}