.ab-title-group .pretitle{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.ab-title-group .title{
    font-size: 32px;
    font-weight: 600;
    color: #5637FB;
    margin: 0;
}
.ab-title-group .subtitle{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.ab-titles-container{
    height: 54px;
    overflow: hidden;
    position: relative;
    margin: 5px 0;
}

.titles{
    animation: slider 6s infinite;
}


@keyframes slider {
    0%, 100%{
        transform: translate(0, 0);
    }
    19.99%{
        transform: translate(0, calc(53 * -1px));
    }
    39.99%{
        transform: translate(0, calc(53 * -2px));
    }
    59.99%{
        transform: translate(0, calc(53 * -3px));
    }
    79.99%{
        transform: translate(0, calc(53 * -4px));
    }
    99.99%{
        transform: translate(0, calc(53 * -5px + 1px));
    }
}

@media (max-width: 409px){
    .ab-titles-container{
        height: 36px;
    }
    .titles .title{
        font-size: 24px;
    }
    .ab-title-group .pretitle{
        font-size: 18px;
    }
    @keyframes slider {
        0%, 100%{
            transform: translate(0, 0);
        }
        19.99%{
            transform: translate(0, calc(40 * -1px));
        }
        39.99%{
            transform: translate(0, calc(40 * -2px));
        }
        59.99%{
            transform: translate(0, calc(40 * -3px));
        }
        79.99%{
            transform: translate(0, calc(40 * -4px));
        }
        99.99%{
            transform: translate(0, calc(40 * -5px + 1px));
        }
    }
}
@media (max-width: 318px){
    .ab-titles-container{
        height: 36px;
    }
    .titles .title{
        font-size: 19px;
    }
    .ab-title-group .pretitle{
        font-size: 18px;
    }
    @keyframes slider {
        0%, 100%{
            transform: translate(0, 0);
        }
        19.99%{
            transform: translate(0, calc(32 * -1px));
        }
        39.99%{
            transform: translate(0, calc(32 * -2px));
        }
        59.99%{
            transform: translate(0, calc(32 * -3px));
        }
        79.99%{
            transform: translate(0, calc(32 * -4px));
        }
        99.99%{
            transform: translate(0, calc(32 * -5px + 4px));
        }
    }
}